// out: ../cardBoard.css, compress: true

.card-cont {
  display: flex;
  justify-content: center;
  .grey-bckgrnd {
    background: #f0f0f0;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: 4vh;
    padding: 0 4%;
    border-radius: 0.25rem;
  }
}
