// out: ../topMenu.css, compress: true

.home-top-menu {
  display: flex;
  justify-content: space-between;
  margin: 8% 10% 3%;
  .addBtn {
    width: 150px;
  }
}

.new-form-top-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 50%;
  margin-top: 8%;
  h1 {
    transform: translateX(50%);
  }
  .returnBtn {
    margin-left: 10%;
    width: 150px;
  }
}
